{% extends "eztables/base.html" %}
{% load js %}

{% block container %}
<div class="page-header">
    <h1>Server-side processing</h1>
</div>


<div class="row">
    <table id="browser-table" class="span12 display table table-bordered">
        <thead>
            <tr>
                <th>Rendering Engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS Grade</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

{% endblock %}

{% block extra_script %}
    {% js "js/eztables.server.js" %}
{% endblock %}
